.amarelo-dourado{
  font-family: Lucida Sans;
  background-color:#02061d;
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: justify;
  padding: 20px;
}

.video{
    font-family: Century Ghotic;
    background-color:#ffffff;
    color: #3000b6;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: justify;
    padding: 20px;
  }
  
  <h2 font-size: 8px; font-style: bold;>

.div{
    font-family: arial;
}
.espaco-texto{
  margin: 50px 0;
  padding: 10px;
}

footer{
  background-color:#241F0A;
  color: #FFDE46;
  padding: 20px 10px;
}

.div-footer{
  padding: 10px ;
}

#cards{
  padding: 50px 0 ;
}

.nav-link{
  color: #241F0A;
  font-weight: 700;
}

.nav-link:hover{
  color: white;
  font-weight: 700;
}

#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
}